@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Fira+Sans:ital,wght@1,300&family=Mohave:wght@300&display=swap');

html, body {
    height: 100%;
    margin: 0;
    display: block;
    color: white;
}

.wrapper {
    display: flex;
    position: relative;
    background-image: url("test.jpg");
    height: 100%;
    width: 100%;
    background-color: #CBCDE6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.80;
}

.wrapper .sidenav{
    position: fixed;
    width: 200px;
    height: 100%;
    background: black;

}

p, h1 {
    color: #FDFEFF; 
}

p {
    font-size: 1.4em;
    font-family: 'Cairo', sans-serif;
    line-height: normal;
}

h1 {
    color: #F27900;
}

p span {
    text-decoration: underline;
    text-decoration-color: blue;
    font-family: 'Mohave', sans-serif;
}

.main div {
    position: relative;
    width: 500px;
    height: 180px;
    left: 300px;
    border-width: 5px;
    background-blend-mode: color;
    border-radius: 5px;
}

.intro1 {
    text-align: left;
    border-left-style: solid;
    top:60px;
    padding-left: 5px;
}

.intro2 {
    text-align: right;
    border-right-style: solid;
    top:120px;
    padding-right: 5px;
}

.intro3 {
    text-align: left;
    border-left-style: solid;
    top:180px;
    padding-left: 5px;
}

.wrapper .sidenav ul {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
}
.wrapper .sidenav ul li {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid whitesmoke;
    list-style: none;
    font-size: 1.5em;    
}

.wrapper .sidenav ul li:hover {
    background: #647C90;
}

.wrapper .sidenav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
}
